[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Artyom (ArtyomAnohin)
[access "refs/for/refs/*"]
	read = group user/Artyom (ArtyomAnohin)
	push = group user/Artyom (ArtyomAnohin)
	label-Code-Review = -2..+2 group user/Artyom (ArtyomAnohin)
	label-Verified = -1..+1 group user/Artyom (ArtyomAnohin)
	rebase = group user/Artyom (ArtyomAnohin)
	removeReviewer = group user/Artyom (ArtyomAnohin)
	submit = group user/Artyom (ArtyomAnohin)
[access "refs/heads/*"]
	read = group user/Artyom (ArtyomAnohin)
	create = group user/Artyom (ArtyomAnohin)
	push = +force group user/Artyom (ArtyomAnohin)
	pushMerge = group user/Artyom (ArtyomAnohin)
[access "refs/tags/*"]
	push = group user/Artyom (ArtyomAnohin)
	push = +force group user/Artyom (ArtyomAnohin)
