{% extends "base.html" %}

{% block content %}


<div class="container">
    {% if error %}
<div class="alert alert-danger" role="alert">
  <strong>Error!</strong> {{ error }}
</div>
{% endif %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Fly</th>
            <th scope="col">URL</th>
            <th scope="col">Create Date</th>
        </tr>
        </thead>
        <tbody>
        {% for n in queue_list %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <th>
                <a href="/queue/{{ n.name }}">
                    <span class="badge pull-right">{{ n.numMes }}</span>
                    {{ n.name }}
                </a>
            </th>
            <th>
                <span class="badge-red pull-right">{{ n.invisMes }}</span>
            </th>
            <td>{{ n.url }}</td>
            <td>{{ n.timestamp }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
